<h1>New User</h1>

<form action="<%= users_url %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
    
    <label for="email">Email:
        <input type="text" id="email" name="user[email]" value=<%= @user.email %>>
    </label>

    <label for="password">Password:
        <input type="password" name="user[password]" id="password" value=<%= @user.password %>>
    </label>

    <input type="submit" value="Create Account & Login">

</form>

