<h1>Bands Page</h1>

<% @bands.each do |band|%>
    <ul>
        <li>
            <%=band.name%>
        </li>

        <li>
            <a href="<%= band_url(band.id) %>">linky</a>
        </li>
    </ul>
<% end%>